.sidebar { 
    border-right: 1px solid #dee2e6; 
}
.profile-circle {
  width: 80px; height: 80px;
  border-radius: 50%; background: #0d6efd;
  margin: auto;
}
.nav-link {
  color: #212529; border-radius: 6px; padding: 4px 10px;
}
.nav-link:hover { 
    background: #f8d7da; color: #dc3545; 
}
.nav-link.active {
  background: #dc3545; color: #fff !important;
}
.table-danger th { 
    background: #dc3545 !important; color: white; 
}
.badge.bg-info { 
    background: #b3e5fc !important; color: black; 
}
.pagination .page-item.active .page-link {
  background: #dc3545; border-color: #dc3545;
}
.pagination .page-link { 
    color: #dc3545; 
}
